<h1>프로필</h1>
<h2>이름 : {{user}}<br>
<br>
    팔로잉 :
    {% for profile in user.profile.followings.all %}
        {{profile.user}}
    {% endfor %}<br><br>
    팔로워 :
    {% for profile in user.profile.followers.all %}
            {{profile.user}}
    {% endfor %}<br><br>
    글 목록:<br><br>
    {% for posts in posts.all %}
        {% if user == posts.user %}
        작성자: {{posts.user}}<br>
        제목: {{posts.title}}<br>
        내용: {{posts.content}}<br><br>
        {% endif %}
    {% endfor %}
    


   
</h2>

